.inputTitle {
    font-weight: 800;
    font-size: 1.5rem;
    margin-top: 12vh;
    color: rgba(255, 255, 255, 0.885);
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 1.35rem !important;
    background-color: rgb(31,80,123) !important;
    border: 2px solid rgba(255, 255, 255, 0.85);
    color: rgba(255, 255, 255, 0.85);
    font-weight: 800;
    padding: 0.65rem 1rem;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1.25rem;
    border-radius: 5px;
}

.changeNameButton {
    font-size: 1.25rem !important;
    background-color: rgb(31,80,123) !important;
    border: 2px solid rgba(255, 255, 255, 0.85);
    color: rgba(255, 255, 255, 0.85);
    font-weight: 800;
    padding: 0.5rem 1.25rem;
    margin-top: 2rem;
}