.showResult {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.885);
    z-index: 1;
}

.resultContainer {
    margin-top: 5vh;
}

.resultHeadings {
    color: #fff;
    font-size: 2.95rem;
}

.resultButtonsContainer {
    margin: 0 auto;
}

@media (max-width: 768px) {
    .showResult {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: rgba(0, 0, 0, 0.885);
        z-index: 1;
    }

    .resultContainer {
        margin-top: 20vh;
        text-align: center;
    }

    .resultHeadings {
        font-size: 2rem;
    }

    .resultButtonsContainer {
        margin-top: 3rem;
    }
}

.resultButtonsContainer>Button{
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    text-transform: none;
    border-radius: 0.5rem;
}

.resultButtonsContainer>Button:hover {
    box-shadow: 0px 0px 0.35rem blue;
}