.gameHeading {
    font-size: 2.35rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
}

.scoreBoard {
    display: flex;
    justify-content: space-around;
    width: 80vh;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.scoreCard {
    font-weight: 800;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.button {
    font-size: 1.2rem !important;
    background-color: rgb(31,80,123) !important;
    border: 2px solid rgba(255, 255, 255, 0.85);
    color: rgba(255, 255, 255, 0.85);
    font-weight: 800;
    padding: 0.5rem 1rem;
}