<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
</head>
<body style="text-align: center">
    <h1 style="margin-top: 8vh; margin-bottom: 2vh;"> This Is The Home Page Of The Website</h1>
    <hr style="background-color: black; height: 3px; width: 85vw;">
    <h2>
        The Number That You Get On The Dice Is : <%= diceVal %> </h2>
</body>
</html>