<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body style="text-align: center">
    <h1 style="margin-top: 8vh; margin-bottom: 2vh;"> This Is The Home Page Of Instagram</h1>
    <hr style="background-color: black; height: 3px; width: 85vw;">
    <h3 style="width: 80vw; margin: 4vh auto;">
        It was a concerning development that he couldn't get out of his mind.
        He'd had many friends throughout his early years and had fond memories of playing with them,but he couldn't understand how it had all stopped.
        There was some point as he grew up that he played with each of his friends for the very last time,and he had no idea that it would be the last.
        There were little things that she simply could not stand. The sound of someone tapping their nails on the table. A person chewing with their mouth open.
    </h3>
    <form action="/ig">
        <input type="text" name="name" placeholder="Enter The Username To Search" style="width:18vw; text-align: center;">
        <button type="submit">Click To Search</button>
    </form>
</body>
</html>