<%- include("includes/07. headSubtemplate.ejs") %>
<body style="text-align: center;">
    <h1 style="margin-top: 30vh;"> Error : Invalid Username.</h1>
    <h1> Account @<%= username %> Do Not Exists. </h1>
</body>
</html>