<% layout('/layouts/boilerplate') %>

<body><br>
    <h2>Create A New Listing</h2><br>
    
    <div class="col-8 offset-2">

        <form action="/listings" method="post">
            <div class="mb-4">
                <label class="form-label" for="listing[title]">Title : </label>&nbsp;
                <input class="form-control" type="text" name="listing[title]" placeholder="Enter The Title Of The Listing">
            </div>

            <div class="mb-4">
                <label class="form-label" for="listing[description]">Description : </label>&nbsp;&nbsp;
                <textarea class="form-control" name="listing[description]" rows="4" cols="27" placeholder="Enter The Description"></textarea>
            </div>

            <div class="mb-4">
                <label class="form-label" for="listing[image]">Image : </label>&nbsp;
                <input class="form-control" type="text" name="listing[image]" placeholder="Enter The URL Of The Display Image">
            </div>

            <div class="row">
                <div class="mb-4 col-md-4">
                    <label class="form-label" for="listing[price]">Price : </label>&nbsp;
                    <input class="form-control" type="number" name="listing[price]" placeholder="The Price Per Night">
                </div>
    
                <div class="mb-4 col-md-8">
                    <label class="form-label" for="listing[location]">Location : </label>&nbsp;
                    <input class="form-control" type="text" name="listing[location]" placeholder="Enter The Location Of The Listing">
                </div>
            </div>

            <div class="mb-4">
                <label class="form-label" for="listing[country]">Country : </label>&nbsp;
                <input class="form-control" type="text" name="listing[country]" placeholder="Enter The Country of the Location">
            </div>  

            <button class="btn btn-dark" type="submit">Add</button>&nbsp;&nbsp;
            <button class="btn btn-dark" type="reset">Reset</button> 
        </form><br><br>

    </div>
</body>