div{
    height: 100px;
    width: 100px;
    background-color: rgb(57, 239, 57);
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease-in-out 0.2s;
    
}

div:hover{
    margin-top: 300px;
    background-color: rgb(64, 168, 203);
}