.parent{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.child{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px;
    transition: transform 0.5s ease-in-out 130ms;
}

.child:nth-of-type(2n){
    background-color: #f7db6a;
}

.child:nth-of-type(3n){
    background-color: #ebb02d;
}

/* Transform : Scale */

.child:nth-of-type(2n):hover{
    transform: scale(0.8);
}

.child:nth-last-of-type(2n-1):hover{
    transform: scale(1.2);
}